$color_main: #AA0601;
$color_font: #650300;
$color_bg: #FBF2F2;
$color_border: #DEE2E6;
$color_border2: #DCDCDC;
$select_font: #495057;
$color_dark: #212529;
$color_gray: #707070;
$color_shadow: #00000029;
$color_brown: #B75929;
$color_darkbrown: #5F3E2D;
$page_border: #555555;
$title_border: #9F1213;
$select_border: #CED4DA;
$list_border: #00000020;
$color_a_tag: #6C6C6C;
$color_p: #0A0A0A;